@import '../common';

.navbar {
  height: auto;
  width: 100%;
  background-color: $mediumLightGray;
  padding: 1rem;
  justify-content: left !important;
  box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
  float: left;

  .navbar-container {
    max-width: 992px;
    min-width: 320px;
    float: left;
    padding: 0 10px;
    text-align: center;

    .navbar-title-container {
      display: inline-block;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
      float: left;
      img {
        width: 100px;
      }

      .navbar-brand {
        margin-left: 10px;
      }
    }
  }
}
