.homepage-container {
  width: 100%;
  float: left;

  .homepage-holder {
    max-width: 1024px;
    min-width: 320px;
    margin: auto;
    padding: 0 10px;
    margin-top: 100px;

    .register-form-container {
      float: right;

      textarea {
        width: 400px;
        height: 90px;
        resize: none;
      }

      .login-button {
        background-color: #FF6600;
      }

      p {
        margin-top: 20px;
      }
    }

    .login-form-container {
      float: left;

      input {
        width: 300px;
      }

      .login-button {
        background-color: #169BD5;
      }
    }

    .login-form-container, .register-form-container {
      background-color: #efefef;

      form {
        padding: 16px;
      }

      .login-button {
        width: 200px;
        border: 0;
      }

      .with-button {
        text-align: center !important;
      }

      .form-group {
        text-align: left;
      }

      .forgot-password {
        color: #039BE5;
        text-align: left;
        margin-top: -5px;
        margin-bottom: 1rem;
        font-size: 14px;
        cursor: pointer;
      }
      
      .forgot-password:hover {
        color: #0279C3;
      }

      .login-account-text {
        margin-bottom: 30px;
      }
    }
  }
}